<header id="masthead" class="site-header clr" role="banner">
        <div class="header-content">
            <h1 class="site-title"><a href="/" rel="home">{{SITE_NAME}}</a></h1>
            <p class="desc">{{SITE_DESCRIPTION}}</p>
            {{!-- this is a comment --}}
        </div>
</header>
