<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width">
        <title>{{pageTitle}}</title>
        {{#ifCond NODE_ENV "==" "production"}}
            <link rel="stylesheet" type="text/css" href="/dist/css/main.min.css">
        {{else}}
            <link rel="stylesheet" type="text/css" href="/dist/css/main.css">
        {{/ifCond}}
        <link rel="shortcut icon" href="/src/img/favicon.ico" />
        <link rel="author" href="https://plus.google.com/115206000376824805502/" />
    </head>
    <body class="{{template}}">
        {{> header}}
        {{{ body }}}
        {{> footer}}
        {{> loading}}
        {{> symbols}}
    </body>
</html>
