.maternity-visualizer {
  position: relative;

  .axis {
    position: fixed;
    line {
      stroke: #ccc;
    }
    .tick text {
      fill: #555;
      letter-spacing: -0.05em;
      text-anchor: middle;
    }
    .label-group {
      text {
        text-anchor: end;
      }
      .heading {
        font-size: 1.4em;
        fill: $textColor;
      }
      .heading-unit {
        font-size: 1em;
      }
    }

    .industries .label-group {
      .heading {
        font-size: 1em;
      }
    }

  }

  .industries {
    .industry-title {
      font-size: 3em;
      @include headingFont;
    }
  }

  .bubble-group {
    &:hover {
      cursor: pointer;
      circle {
        stroke-width: 2px;
      }
    }
    path {
      stroke: none;
    }
  }

  .chart-options {
    position: absolute;
    right: 0;
  }

}
