.maternity-visualizer {
  position: relative;

  .axis {
    position: fixed;
    line {
      stroke: #ccc;
    }
    .tick text {
      fill: #555;
      letter-spacing: -0.05em;
      text-anchor: middle;
    }
    .label-group {
      text {
        text-anchor: end;
      }
      .heading {
        font-size: 1.4em;
        fill: $textColor;
      }
      .heading-unit {
        font-size: 1em;
      }
    }

    .industries .label-group {
      .heading {
        font-size: 1em;
      }
    }

  }

  .industries {
    .industry-title {
      font-size: 3em;
      @include headingFont;
    }
  }

  .bubble-group {
    &:hover {
      cursor: pointer;
      circle {
        stroke-width: 2px;
      }
    }
    path {
      stroke: none;
    }
  }

  .chart-filters {
    position: absolute;
    max-width: 70%;
    text-align: right;
    transform: translate(0, 50px)
  }

  .filter-link {
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 3px;
    background: #f4f4f4;
    color: #ccc;
    border: 1px solid #ddd;
    padding: 0.5em;
    margin: 0.25em;
    position: relative;
    &.active {
      background: #eee;
      color: $textColor;
      border-color: $textColor;
      &:after {
        display: block;
      }
    }
    &:after {
      content: "\00d7";
      font-size: 0.8em;
      font-family: sans-serif;
      display: none;
      position: absolute;
      top: -1px;
      right: 2px;
    }
  }

}
