<div class="controls-content">
  <div class="button-group">
    <button data-cluster-key="all" class="active">Overall</button>
    <button data-cluster-key="industry">By industry</button>
  </div>
  <div class="search">
    <input type="text" placeholder="Search by company name or industry" />
  </div>
</div>
