$textColor: #333;

@mixin bodyFont {
  font-family: 'Carrois Gothic', sans-serif;
}

@mixin headingFont {
  font-family: 'Pathway Gothic One', sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }  
}

* {
  box-sizing: border-box;
}

body {
  @include bodyFont;
  font-size: 14px;
  color: $textColor;
}

h1,
h2,
h3,
h4 {
  @include headingFont;
  margin: 1em 0;
  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
