* {
  box-sizing: border-box;
}

body {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 14px;
  color: #333;
}

h1,
h2,
h3 {
  font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
