@keyframes flip-elastic {
	0% { transform: rotate(0); }
	80% { transform: rotate(390deg); }
	100% { transform: rotate(360deg); }
}

@keyframes rollIn {
	0% { opacity: 0; transform: translateY(100px) scale(0.9); }
	100% { opacity: 1; transform: translateY(0px) scale(1); }
}

@keyframes rollOut {
    0% { opacity: 1; transform: translateY(0px) scale(1); }
    100% { opacity: 0; transform: translateY(-100px) scale(0.9); }
}

@keyframes repaint {
	0% { height: 3em; }
	100% { height: 3.1em; }
}

// @keyframes rollInReverse {
// 	0% { opacity: 0; transform: translateX(-50%); }
// 	100% { opacity: 1; transform: translateX(0px); }
// }
//
// @keyframes rollOutReverse {
//     0% { opacity: 1; transform: translateX(0px); }
//     100% { opacity: 0; transform: translateX(50%); }
// }
