// default (mobile) layout
$main-padding: 4.5%;
$main-bottom-padding: 5em;
$light-border: #e5e5e5;

body {
	font-size: .85em;
}

header, footer {
	padding: 1em $main-padding;
}

main {
	padding: $main-padding $main-padding $main-bottom-padding;
	line-height: 1.5;
	transform-origin: top center;

	h1 {
		font-size: 2em;
		line-height: 1;
		margin: 0;
		&.message {
			text-align: center;
		}
	}
	.content {
		ul, ol {
			margin: 1em 0 0;
			list-style-position: inside;
			padding-left: 0;
			& > li {
				margin: .75em 0 0 1.2em;
				list-style-position: outside;
			}
		}
	}

	iframe { display: block; margin: 0 auto; }

	animation-timing-function: ease-in-out;

	animation-duration: 200ms;

	animation-fill-mode: forwards;
	&.out {
		animation-name: rollOut;
		&.reverse {
			animation-name: rollOutReverse;
		}
	}
	&.in {
		animation-name: rollIn;
		&.reverse {
			animation-name: rollInReverse;
		}
	}

}

figure {
	text-align: center;
	padding: 1em;
	margin: 1em 0 0;
	background: #fff;
	border: 1px solid $light-border;
	& > img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	figcaption {
		font-size: 0.9em;
		padding: 1em 0 0;
	}
}

.single {
	main {
		padding: 4.5% $main-padding $main-bottom-padding;
		& > .post {
			.info {
				& > *:first-child {
					margin-top: 0;
				}
				& > .date {
					color: $text-light;
					margin-bottom: 0.5em;
				}
				line-height: 1;
				padding-bottom: 0.5em;
				& > .tags {
					display: none;
					font-size: 0;
					& > a {
						font-size: 14px;
						padding: .3em 0;
						&:first-child { margin: 0; }
					}
					& > sub {
						font-size: 10px;
						bottom: auto;
					}
				}
			}
			h2 {
				font-size: 1.5em;
				margin: 1em 0 0;
			}
			h3 {
				color: #000;
				font-weight: bold;
				margin: 1em 0 0;
			}
			.content {
				padding: 1em 0 0;
				& > :first-child {
					margin-top: 0;
				}
				p {
					margin: 1em 0 0;
				}
				iframe {
					display: block;
					margin: 1em auto 0;
				}
				& > :last-child {
					margin-bottom: 0;
				}
			}
		}

	}
}

header, footer {
	background: $transparent-white;
}

header {
	letter-spacing: -.05em;
	border-bottom: 1px solid $light-border;
	.site-title {
		float: left;
		font-size: 1.4em;
		margin: 0;
		padding: 0;
		 & > a {
		 	padding: .2em;
		 }
	}
	.desc {
		display: none;
		margin-top: 0;
		margin-bottom: 0;
	}
	.search-form {
		float: right;
		max-width: 35%;
	}
	.search-field {
		float: right;
		max-width: 100%;
	}
}

footer {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: $text-light;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	border-top: 1px solid $light-border;
	p {
		font-size: .7em;
		color: #000;
		text-align: right;
		margin: .5em 0;
		padding: 0;

		svg {
			width: 110px;
			height: 16px;
			display: inline-block;
			vertical-align: text-bottom;
		}
	}
}

.list {
	article {
		margin: 0 0;
		padding: 2em 0;
		border-top: 1px dotted #ccc;
		&:first-of-type {
			margin-top: 0;
			padding-top: 0;
			border: none;
		}
		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
		.date { color: $text-light; }
		.title {
			font-size: 1.7em;
			line-height: 1.2;
			margin: 0 0 0.5em;
		}
		.excerpt {
			p {
				margin-top: 0;
			}
		}
		.tags {
			font-size: .8em;
		}
	}
}

.tags {
	color: $text-light;
	& > a {
		color: $text-light;
		white-space: nowrap;
		display: inline-block;
		&:hover {
			color: $link-color;
		}
	}

}

.page-navigation {
	border-top: 1px dotted #ccc;
	padding-top: 1em;
	margin-top: 1em;
	text-align: center;
	.prev { margin-right: 0.5em; }
	.next { margin-left: 0.5em; }
}

.single {
	&.animating .page-navigation {
		display: none;
	}
	.page-navigation {
		a { width: 40%; position: relative; }
		.next {
			float: right; text-align: right;
			&:after {
				content: "\27E9"; position: absolute;
				left: 105%;
				top: 50%;
				font-size: 1em; line-height: 1.5em; height: 1.5em;
				margin-top: -0.75em;
			}

		}
		.prev {
			float: left; text-align: left;
			&:before {
				content: "\27E8"; position: absolute;
				right: 105%;
				top: 50%;
				font-size: 1em; line-height: 1.5em; height: 1.5em;
				margin-top: -0.75em;
			}
		}
	}
}

.list {
	.page-navigation {
		margin-top: 0;
		.next:after, .prev:after {
			display: none;
		}
	}
}

.social {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		float: left;
		margin-right: 1em;
	}
	a {
		position: relative;
		display: block;
		top: auto;
		left: auto;
		right: auto;
		opacity: 0.8;
		transition: all .2s ease-in-out;
		width: 30px;
		height: 30px;
		&:hover {
			opacity: 1;
		}
		svg {
			height: 100%;
			width: 100%;
		}
	}
}

.divider:before {
	content: "";
	display: block;
	height: 1px;
	margin: 2em 0;
	background: #ddd;
}

#apod { display: none; }

#loading {
	position: fixed;
	display: none;
  	top: 100px;
	left: 50%;
}

.animating > #loading {
	display: block;
	z-index: 2;
}

code[data-src] {
	&:before {
		content: "Loading...";
	}
}
