$sidebar-width: 16em;
$sidebar-padding: 1.2em;
$main-padding: 4.5%;
$apod-size: 150px;

@media all and (min-width: 56em) {

	body {
		padding-right: $sidebar-width;
	}

	main {
		position: relative;
		z-index: 2;
		padding: $main-padding;
		h1 { font-size: 3em; }
	}

	header {
		padding: 1em $main-padding;
	}

	header, footer {
		position: fixed; z-index: 1;
		right: 0;
		width: $sidebar-width;
		padding: 1em $sidebar-padding;
		background: rgba(255,255,255,.5);
		border-left: 1px solid #eee;
		border: none;
	}

	.single {
		main {
			padding: 4.5% $main-padding;
			.post > .info {
				float: right;
				margin: 0 0 1em 1em;
				max-width: 25%;
				padding: 0 0 1em 1em;
				& > .date {
					font-size: 1.2em;
				}
				p {
					margin: 0;
				}
				& > .tags {
					& > a, & > a:first-child {
						margin-right: 0.7em;
					}
					& > sub {
						position: absolute;
						top: auto;
						bottom: auto;
						left: auto;
						margin-top: 1.2em;
						margin-left: -0.9em;
					}
				}
			}
			h2 {
				font-size: 1.4em;
				margin-top: 1.5em;
			}

			.page-navigation {
				display: block;
				margin: 0;
				padding: 0;
				border: 0;
				position: fixed;
				.next, .prev {
					width: $sidebar-width;
					float: none;
					text-align: center;
					padding: 0 1em;
					left: 100%;
					margin-left: $sidebar-width * -1;
					position: fixed;
					span {
						overflow: hidden;
					    text-overflow: ellipsis;
					    display: -webkit-box;
					    -webkit-box-orient: vertical;
					    -webkit-line-clamp: 2;
					}
				}
				.next {
					top: $main-padding;
					&:after {
						left: 0; right: 0;
						top: -0.3em;
						content: "\25B2";
						bottom: auto;
						font-size: 1em;
						text-align: center;
						width: 100%;
					}
				}
				.prev {
					bottom: $main-padding;
					&:before {
						left: 0; right: 0;
						bottom: 0;
						top: auto !important;
						margin-bottom: -1.4em;
						content: "\25BC";
						top: 100%;
						font-size: 1em;
						text-align: center;
						width: 100%;
					}
				}
			}

			// hide page-navigation during transition
			&.in .page-navigation a {
				opacity: 0;
			}

		}
	}

	header {
		margin-bottom: $apod-size/2;
		bottom: 50%; top: 0;
		text-align: center;
		.header-content {
			position: absolute;
			bottom: 0;
			padding: 0;
			left: $sidebar-padding;
			right: $sidebar-padding;
		}
		.site-title {
			float: none;
			line-height: 1;
			font-size: 1.8em;
			margin: 0;
		}
		.desc {
			padding: .3em 0;
			margin: 0;
			border: none;
			font-size: 1em; line-height: 1;
		}
		.search-form {
			float: none;
			position: relative;
			top: 1em;
		}
		.search-field { max-width: 60%; float: none; }
	}


	.list {
		article {
			.title {
				font-size: 2.2em;
			}
		}
		& > *:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	footer {
		font-size: 1em;
		top: 50%;
		bottom: 0;
		margin-top: $apod-size/-2;
		max-height: initial;
		p {
			text-align: center;
			margin: 1em 0;
		}
	}

	#apod {
		width: $apod-size;
		height: $apod-size;
		border-radius: $apod-size/2;
		margin: 0 auto;
		display: table;
		background-position: center center;
		overflow: hidden;
		box-shadow: 0 0 10px rgba(0,0,0,0);
		color: $text-main;
		transform: scale(0.98);
		transition: all 0.1s linear;
		span {
			border-radius: $apod-size/2;
			display: table-cell;
			vertical-align: middle;
			opacity: 0;
			font-size: 0.9em;
			padding: 0 1em;
			background: rgba(255,255,255,0.65);
			transition: opacity 0.1s linear;
		}
		&:hover {
			text-decoration: none;
			box-shadow: 0 0 10px rgba(0,0,0,0.67);
			transform: scale(1);
			span {
				opacity: 1;
			}
		}
	}

	.social {
		padding: 0;
		margin: 0;
		a {
			top: $apod-size/2;
			position: absolute;
		}
		.github {
			left: 0.75em;
		}
		.linkedin {
			right: 0.75em;
		}
	}

	#rpi { width: 32px; }

	$loading-icon-size: 35px;
	body #loading {
		margin-left: $sidebar-width	/ 2 *-1;
		top: 50%;
		& > div {
			width: $loading-icon-size;
			height: $loading-icon-size;
			@include loader1($loading-icon-size, $link-color);
			&:nth-child(2) {
				@include loader2($loading-icon-size, $link-color);
			}
			&:nth-child(3){
				@include loader3($loading-icon-size, $link-color);
			}
		}
	}

}

@media all and (max-height: 28em) {

	#apod {
		display: none;
	}

	footer {
		margin-top: 0;
	}

	header {
		margin-bottom: 0;
	}

}
