$font-path: "../fonts/";

@font-face {
    font-family: 'Merriweather';
    src: url('#{$font-path}merriweather-bold-webfont.woff') format('woff'),
         url('#{$font-path}merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('#{$font-path}merriweather-italic-webfont.woff') format('woff'),
         url('#{$font-path}merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: normal;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Merriweather';
    src: url('#{$font-path}merriweather-regular-webfont.woff') format('woff'),
         url('#{$font-path}merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
