$text-main: #444;
$text-light: #aaa;

$selection-color: #e34071;

$link-color: #2589db;

$transparent-white: rgba(255,255,255,.5);

html { height: 100%; }

body {
	background: url("/src/img/bg.jpg") 20px 10px repeat;
	background-size: 45px 81px;
	font-family: 'Merriweather', serif;
	color: $text-main;
	font-size: 1em; line-height: 1.2;
	min-height: 100%;
	position: relative;
	&.animating {
		overflow: hidden;
	}
}

* {
	box-sizing: border-box;
}

strong { font-weight: 700; }
em { font-style: italic; }

ul { list-style-type: disc; }
ol { list-style-type: decimal; }

a, a:visited {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

::selection {
	background: $selection-color; /* Safari */
	color: #000;
}
::-moz-selection {
	background: $selection-color; /* Firefox */
}

a::selection { color: #fff; }

.emph { color: $selection-color; }
.emph::selection { color: #fff; }

sub { font-size: 0.6em; }

/* generic code highlighting */
pre {
    background: #fff;
    padding: 1em;
    border: 1px solid #dfdfdf;
    border-radius: 0.5em;
}

code {
    background: #fff;
    display: inline-block;
    padding: 0 2px;
}

pre code {
    background: none;
    display: inline;
    padding: 0;
}

@mixin clearfix(){
	&:after {
		content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;
	}
}

.clr { @include clearfix(); }
