@mixin loader1($size, $color){
    box-shadow: 0px $size $color,
    0px $size*-1 $color;
}

@mixin loader2($size, $color){
    box-shadow: 0px $size*-2.2 $color,
    0px $size*2.2 $color;
}

@mixin loader3($size, $color){
    box-shadow: 0px $size*-3.4 $color,
    0px $size*--3.4 $color;
}

$loading-icon-size: 10px;

#loading {
  position: fixed;
  left: 50%;
  & > div {
      background-color: transparent;
      width: $loading-icon-size;
      height: $loading-icon-size;
      border-radius: 50%;
      position: absolute;
      @include loader1($loading-icon-size, $link-color);
      @include animation(rotate2 3s infinite linear);
      &:nth-child(2) {
        @include loader2($loading-icon-size, $link-color);
        @include animation(rotate 2.25s infinite linear);
      }
      &:nth-child(3){
        @include loader3($loading-icon-size, $link-color);
        @include animation(rotate2 1.75s infinite linear);
      }
  }
}

@-webkit-keyframes rotate {
  100% {
    @include transform(rotate(360deg));
  }
}
@-webkit-keyframes rotate2 {
  100% {
    @include transform(rotate(-360deg));
  }
}

@-moz-keyframes rotate {
  100% {
    @include transform(rotate(360deg));
  }
}
@-moz-keyframes rotate2 {
  100% {
    @include transform(rotate(-360deg));
  }
}

@keyframes rotate {
  100% {
    @include transform(rotate(360deg));
  }
}
@keyframes rotate2 {
  100% {
    @include transform(rotate(-360deg));
  }
}