$main-padding: 4%;
@media all and (min-width: 36em) {

	body {
		font-size: 1em;
	}

	header {
		padding: 1em $main-padding;
	}

	#main {
		padding-bottom: 5em;
	}

	.single #main {
		.post {
			.info {
				& > .date { color: $text-main; }
				& > .tags {
					display: block;
					font-size: 0;
				}
			}
		}
		.page-navigation {
			display: block;
		}
	}

	header {
		.desc {
			display: inline-block;
			color: $text-light;
			line-height: 1;
			padding-left: .3em;
			margin-left: .3em;
			border-style: solid;
			border-width: 0 0 0 1px;
			position: relative;
			top: 3px;
		}
		.search-form {
			float: right;
			max-width: none;
		}
	}

	.list {
		article {
			.title {
				font-size: 1.9em;
			}
		}
	}

	footer {
		font-size: 1.2em;
	}

	#rpi { width: 28px; }

	$loading-icon-size: 15px;
	body #loading {
		top: 120px;
		& > div {
			width: $loading-icon-size;
			height: $loading-icon-size;
			@include loader1($loading-icon-size, $link-color);
			&:nth-child(2) {
				@include loader2($loading-icon-size, $link-color);
			}
			&:nth-child(3){
				@include loader3($loading-icon-size, $link-color);
			}
		}
	}

}
